<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright my-auto text-center">
            <small>&copy; @DateTime.Now.Year Sistema Escolar. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>
<!-- End of Footer -->