@model Grado

<div class="modal fade" id="modalForm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formGrado">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFormLabel">Nuevo Grado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="Id" />
                    <div class="mb-3">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="Nombre" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="Nivel">Nivel</label>
                        <input type="text" id="Nivel" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
